{
  "openapi": "3.0.0",
  "info": {
    "title": "XTranPassengerAPI 2.10",
    "description": "Documentation of the XTranPassengerAPI 2.10 methods.",
    "version": "2.10-oas3"
  },
  "servers": [
    {
      "url": "https://gateway.carris.pt/gateway"
    }
  ],
  "paths": {
    "/authenticationapi/authorization/sign": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Returns tokens for authorization purposes.",
        "operationId": "GetBearerTokenJWT",
        "requestBody": {
          "description": "Parameters to obtain or refresh authenticationToken.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/body"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request - check POST request body."
          }
        }
      }
    },
    "/xtranpassengerapi/api/v2.10/alerts": {
      "get": {
        "tags": [
          "Alerts"
        ],
        "summary": "Returns of alerts for the public.",
        "operationId": "Get",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.AlertDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.AlertDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.AlertDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.AlertDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/xtranpassengerapi/api/v2.10/busstops/routenumber/{routeNumber}/laststation/{lastStation}/startLat/{lat}/startLon/{lon}/numberbusstops/{nBusStops}": {
      "get": {
        "tags": [
          "BusStops"
        ],
        "summary": "Returns the list of stations for a specific route, given a specific number of parameters received from Google.",
        "operationId": "GetStationsForStep",
        "parameters": [
          {
            "name": "routeNumber",
            "in": "path",
            "description": "The route public number. (Example: 12E)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastStation",
            "in": "path",
            "description": "The headsign ('terminus') of a route (Example: Sta. Apolonia)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "path",
            "description": "The starting latitude coordinates to match to a bus stop (Example: 38.725311).",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lon",
            "in": "path",
            "description": "The starting longitude coordinates to match to a bus stop (Example: -9.151905).",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "nBusStops",
            "in": "path",
            "description": "Number of bus stops to return as list result (Example: 4).",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/xtranpassengerapi/api/v2.10/busstops": {
      "get": {
        "tags": [
          "BusStops"
        ],
        "summary": "Returns a list of busstops",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/xtranpassengerapi/api/v2.10/busstops/timestamp/{timestamp}": {
      "get": {
        "tags": [
          "BusStops"
        ],
        "summary": "Returns a list of busstops  with changes from the sent timestamp",
        "parameters": [
          {
            "name": "timestamp",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/xtranpassengerapi/api/v2.10/busstops/rvd/{rvdId}": {
      "get": {
        "tags": [
          "BusStops"
        ],
        "summary": "Returns the list of stops that make up the trail of the sent ID",
        "parameters": [
          {
            "name": "rvdId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/xtranpassengerapi/api/v2.10/busstops/near/lat/{lat}/lon/{lng}": {
      "get": {
        "tags": [
          "BusStops"
        ],
        "summary": "Get a list with the nearest bus stops from any given point. The distance is measured as meters.",
        "parameters": [
          {
            "name": "lat",
            "in": "path",
            "description": "The location latitude.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lng",
            "in": "path",
            "description": "The location longitude.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.NearbyBusStopDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.NearbyBusStopDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.NearbyBusStopDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.NearbyBusStopDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/xtranpassengerapi/api/v2.10/Estimations": {
      "get": {
        "tags": [
          "Estimations"
        ],
        "summary": "Checking if there's a valid connection to the time estimator",
        "operationId": "Test",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/xtranpassengerapi/api/v2.10/Estimations/busStop/{busStop}/top/{results}": {
      "get": {
        "tags": [
          "Estimations"
        ],
        "summary": "Returns a list of estimations with maximum results for the next buses passing in the stop sent by parameter (public stop identifier).",
        "operationId": "GetFromBusStops",
        "parameters": [
          {
            "name": "busStop",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "results",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TimeEstimator.EstimationDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TimeEstimator.EstimationDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TimeEstimator.EstimationDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TimeEstimator.EstimationDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/xtranpassengerapi/api/v2.10/Estimations/estimationbusstop/{busStops}/top/{results}": {
      "get": {
        "tags": [
          "Estimations"
        ],
        "summary": "Returns a list of estimations for multiple stops in a single request. \r\nStops should be separated by the '-' character. The result returns data from the stops, each containing its list of estimates.",
        "operationId": "GetEstimationBusStop",
        "parameters": [
          {
            "name": "busStops",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "results",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.EstimationBusStopDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.EstimationBusStopDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.EstimationBusStopDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.EstimationBusStopDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/xtranpassengerapi/api/v2.10/Geocoding/{search}": {
      "get": {
        "tags": [
          "Geocoding"
        ],
        "summary": "Returns a list of possible points matching the given address",
        "operationId": "Forward",
        "parameters": [
          {
            "name": "search",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoResultDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoResultDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoResultDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoResultDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/xtranpassengerapi/api/v2.10/Geocoding/reverse/lat/{lat}/lng/{lng}": {
      "get": {
        "tags": [
          "Geocoding"
        ],
        "summary": "Returns the address to the specified geographical point",
        "operationId": "Reverse",
        "parameters": [
          {
            "name": "lat",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lng",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoResultDto"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoResultDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoResultDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoResultDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/xtranpassengerapi/api/v2.10/Geocoding/suggest/{query}": {
      "get": {
        "tags": [
          "Geocoding"
        ],
        "summary": "Autocomplete for user inputs, so that it can search for an address",
        "operationId": "Suggest",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoSuggestionDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoSuggestionDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoSuggestionDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoSuggestionDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/xtranpassengerapi/api/v2.10/Geocoding/fromId/{locationId}": {
      "get": {
        "tags": [
          "Geocoding"
        ],
        "summary": "Retrieve the address data from a user search",
        "operationId": "FromId",
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoResultDto"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoResultDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoResultDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoResultDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/xtranpassengerapi/api/v2.10/GTFS/realtime/vehiclepositions": {
      "get": {
        "tags": [
          "Gtfs"
        ],
        "summary": "Returns the vehicle positions of the current GTFS realtime feed.",
        "operationId": "GetRealTime",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/xtranpassengerapi/api/v2.10/GTFS": {
      "get": {
        "tags": [
          "Gtfs"
        ],
        "summary": "Returns the current GTFS feed.",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/xtranpassengerapi/api/v2.10/GTFS/date/{date}": {
      "get": {
        "tags": [
          "Gtfs"
        ],
        "summary": "Returns a valid GTFS feed for a given date.",
        "parameters": [
          {
            "name": "date",
            "in": "path",
            "description": "A date in the YYYY-MM-DD format. Example: 2019-07-02",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/xtranpassengerapi/api/v2.10/Planner/startlat/{startLat}/startlon/{startLon}/endLat/{endLat}/endLon/{endLon}/start/{startDate}/language/{language}": {
      "get": {
        "tags": [
          "Planner"
        ],
        "summary": "Planning a voyage from one point to another",
        "parameters": [
          {
            "name": "startLat",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "startLon",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "endLat",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "endLon",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "startDate",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "language",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.Google.SolutionDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.Google.SolutionDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.Google.SolutionDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.Google.SolutionDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/xtranpassengerapi/api/v2.10/Routes/busStop/{busStopId}": {
      "get": {
        "tags": [
          "Routes"
        ],
        "summary": "Returns a list of routes that pass at a given busstop",
        "parameters": [
          {
            "name": "busStopId",
            "in": "path",
            "description": "The id of the busstop.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.RouteDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.RouteDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.RouteDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.RouteDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/xtranpassengerapi/api/v2.10/Routes": {
      "get": {
        "tags": [
          "Routes"
        ],
        "summary": "Returns the list of routes",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.RouteDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.RouteDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.RouteDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.RouteDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/xtranpassengerapi/api/v2.10/Routes/timestamp/{timestamp}": {
      "get": {
        "tags": [
          "Routes"
        ],
        "summary": "Returns the list of routes with updates after the sent timestamp",
        "parameters": [
          {
            "name": "timestamp",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.RouteDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.RouteDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.RouteDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.RouteDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/xtranpassengerapi/api/v2.10/Routes/{routeNumber}": {
      "get": {
        "tags": [
          "Routes"
        ],
        "summary": "Returns the route by its route number.",
        "operationId": "GetAsync",
        "parameters": [
          {
            "name": "routeNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.FullRouteDto"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.FullRouteDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.FullRouteDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.FullRouteDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/xtranpassengerapi/api/v2.10/Routes/{routeNumber}/from/{from}/until/{until}": {
      "get": {
        "tags": [
          "Routes"
        ],
        "summary": "Returns the route by its route number within a given period of time.",
        "parameters": [
          {
            "name": "routeNumber",
            "in": "path",
            "description": "The public number",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "path",
            "description": "Filter variants from a given time",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "until",
            "in": "path",
            "description": "Filter variants until a given time",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.FullRouteDto"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.FullRouteDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.FullRouteDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.FullRouteDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/xtranpassengerapi/api/v2.10/SGO/busNumber/{busNumber}": {
      "get": {
        "tags": [
          "SGO"
        ],
        "summary": "Returns a list of vehicle statuses.",
        "parameters": [
          {
            "name": "busNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.SGOVehicleStatusDto"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.SGOVehicleStatusDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.SGOVehicleStatusDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.SGOVehicleStatusDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/xtranpassengerapi/api/v2.10/StopTimes/routeNumber/{routeNumber}/direction/{direction}/stop/{stopId}/date/{date}": {
      "get": {
        "tags": [
          "StopTimes"
        ],
        "summary": "Returns the list of stop times for a specific busstop, given a route number and its direction.",
        "parameters": [
          {
            "name": "routeNumber",
            "in": "path",
            "description": "The route public number. (Example: 12E)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "path",
            "description": "The route direction. (Example: CIRC)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stopId",
            "in": "path",
            "description": "The busstop id (Example: 13802).",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date for the schedule in 'yyyy-mm-dd' format (Example: 2019-12-31)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.ScheduleDto"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.ScheduleDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.ScheduleDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.ScheduleDto"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/xtranpassengerapi/api/v2.10/vehicleStatuses/routeNumber/{routeNumber}": {
      "get": {
        "tags": [
          "VehicleStatuses"
        ],
        "summary": "Returns the list of vehicle status for a single route.",
        "operationId": "GetVehiclesForRoute",
        "parameters": [
          {
            "name": "routeNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.VehicleStatusDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.VehicleStatusDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.VehicleStatusDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.VehicleStatusDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/xtranpassengerapi/api/v2.10/vehicleStatuses": {
      "get": {
        "tags": [
          "VehicleStatuses"
        ],
        "summary": "Returns a list of vehicle statuses.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.VehicleStatusDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.VehicleStatusDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.VehicleStatusDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "uniqueItems": false,
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.VehicleStatusDto"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "XtpApiDtos.TinyPassenger.AlertDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "alertType": {
            "type": "string",
            "enum": [
              "Informative",
              "Ocurrence"
            ]
          },
          "alertDescription": {
            "type": "string"
          },
          "publishDate": {
            "type": "string",
            "format": "date-time"
          },
          "expirationDate": {
            "type": "string",
            "format": "date-time"
          },
          "routeNumber": {
            "type": "string"
          },
          "busStopNumber": {
            "type": "string"
          }
        }
      },
      "XtpApiDtos.TinyPassenger.BusStopDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "publicId": {
            "type": "string"
          },
          "lat": {
            "type": "number",
            "format": "double"
          },
          "lng": {
            "type": "number",
            "format": "double"
          },
          "isPublicVisible": {
            "type": "boolean"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "XtpApiDtos.TinyPassenger.NearbyBusStopDto": {
        "type": "object",
        "properties": {
          "distance": {
            "type": "number",
            "format": "double"
          },
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "publicId": {
            "type": "string"
          },
          "lat": {
            "type": "number",
            "format": "double"
          },
          "lng": {
            "type": "number",
            "format": "double"
          },
          "isPublicVisible": {
            "type": "boolean"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "XtpApiDtos.TimeEstimator.EstimationDto": {
        "type": "object",
        "properties": {
          "routeNumber": {
            "type": "string"
          },
          "routeName": {
            "type": "string"
          },
          "destination": {
            "type": "string"
          },
          "time": {
            "type": "string",
            "format": "date-time"
          },
          "busNumber": {
            "type": "string"
          },
          "plateNumber": {
            "type": "string"
          },
          "voyageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "publicId": {
            "type": "string"
          }
        }
      },
      "XtpApiDtos.TinyPassenger.EstimationBusStopDto": {
        "type": "object",
        "properties": {
          "estimationList": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/XtpApiDtos.TimeEstimator.EstimationDto"
            }
          },
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "publicId": {
            "type": "string"
          },
          "lat": {
            "type": "number",
            "format": "double"
          },
          "lng": {
            "type": "number",
            "format": "double"
          },
          "isPublicVisible": {
            "type": "boolean"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "XtpApiDtos.Geocoding.GeoResultDto": {
        "type": "object",
        "properties": {
          "lat": {
            "type": "number",
            "format": "double"
          },
          "lng": {
            "type": "number",
            "format": "double"
          },
          "address": {
            "type": "string"
          },
          "header": {
            "type": "string"
          },
          "isLocalMatch": {
            "type": "boolean"
          }
        }
      },
      "XtpApiDtos.Geocoding.GeoSuggestionDto": {
        "type": "object",
        "properties": {
          "locationId": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "header": {
            "type": "string"
          }
        }
      },
      "XtpApiDtos.Google.SolutionDto": {
        "type": "object",
        "properties": {
          "bounds": {
            "$ref": "#/components/schemas/XtpApiDtos.Google.BoundsDto"
          },
          "leg": {
            "$ref": "#/components/schemas/XtpApiDtos.Google.SolutionLegDto"
          },
          "fare": {
            "type": "string"
          }
        }
      },
      "XtpApiDtos.Google.BoundsDto": {
        "type": "object",
        "properties": {
          "location1": {
            "$ref": "#/components/schemas/XtpApiDtos.Google.LocationDto"
          },
          "location2": {
            "$ref": "#/components/schemas/XtpApiDtos.Google.LocationDto"
          }
        }
      },
      "XtpApiDtos.Google.SolutionLegDto": {
        "type": "object",
        "properties": {
          "distance": {
            "type": "string"
          },
          "duration": {
            "type": "string"
          },
          "bigSteps": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/XtpApiDtos.Google.BigStepDto"
            }
          }
        }
      },
      "XtpApiDtos.Google.LocationDto": {
        "type": "object",
        "properties": {
          "lat": {
            "type": "number",
            "format": "double"
          },
          "lng": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "XtpApiDtos.Google.BigStepDto": {
        "type": "object",
        "properties": {
          "fullInstructions": {
            "type": "string"
          },
          "htmlInstructions": {
            "type": "string"
          },
          "distance": {
            "type": "string"
          },
          "duration": {
            "type": "string"
          },
          "shortName": {
            "type": "string"
          },
          "fullName": {
            "type": "string"
          },
          "points": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/XtpApiDtos.Google.LocationDto"
            }
          },
          "innerSteps": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/XtpApiDtos.Google.InnerStepDto"
            }
          },
          "travelMode": {
            "type": "string",
            "enum": [
              "Walking",
              "Bus",
              "Subway"
            ]
          },
          "headsign": {
            "type": "string"
          },
          "numberOfStops": {
            "type": "integer",
            "format": "int32"
          },
          "startLocation": {
            "$ref": "#/components/schemas/XtpApiDtos.Google.LocationDto"
          }
        }
      },
      "XtpApiDtos.Google.InnerStepDto": {
        "type": "object",
        "properties": {
          "fullInstructions": {
            "type": "string"
          },
          "htmlInstructions": {
            "type": "string"
          },
          "distance": {
            "type": "string"
          },
          "duration": {
            "type": "string"
          }
        }
      },
      "XtpApiDtos.TinyPassenger.RouteDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "routeNumber": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "isPublicVisible": {
            "type": "boolean"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "XtpApiDtos.TinyPassenger.FullRouteDto": {
        "type": "object",
        "properties": {
          "isCirc": {
            "type": "boolean"
          },
          "variants": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.VariantDto"
            }
          },
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "routeNumber": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "isPublicVisible": {
            "type": "boolean"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "XtpApiDtos.TinyPassenger.VariantDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "variantNumber": {
            "type": "integer",
            "format": "int32"
          },
          "isActive": {
            "type": "boolean"
          },
          "upItinerary": {
            "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.ItineraryDto"
          },
          "downItinerary": {
            "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.ItineraryDto"
          },
          "circItinerary": {
            "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.ItineraryDto"
          }
        }
      },
      "XtpApiDtos.TinyPassenger.ItineraryDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "type": {
            "type": "string",
            "enum": [
              "Asc",
              "Desc",
              "Circ"
            ]
          },
          "connections": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.ConnectionDto"
            }
          },
          "shape": {
            "type": "string"
          }
        }
      },
      "XtpApiDtos.TinyPassenger.ConnectionDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "distance": {
            "type": "number",
            "format": "float"
          },
          "orderNum": {
            "type": "integer",
            "format": "int32"
          },
          "busStop": {
            "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
          }
        }
      },
      "XtpApiDtos.TinyPassenger.SGOVehicleStatusDto": {
        "type": "object",
        "properties": {
          "vehiclePlate": {
            "type": "string"
          },
          "routeNumber": {
            "type": "string"
          },
          "plateNumber": {
            "type": "string"
          },
          "direction": {
            "type": "string"
          },
          "lastStopOnVoyageId": {
            "type": "integer",
            "format": "int32"
          },
          "lastStopOnVoyageName": {
            "type": "string"
          },
          "parkingStopId": {
            "type": "integer",
            "format": "int32"
          },
          "parkingStopName": {
            "type": "string"
          },
          "driverNumber": {
            "type": "string"
          },
          "lat": {
            "type": "number",
            "format": "double"
          },
          "lng": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "XtpApiDtos.TinyPassenger.ScheduleDto": {
        "type": "object",
        "properties": {
          "dayId": {
            "type": "integer",
            "format": "int32"
          },
          "seasonId": {
            "type": "integer",
            "format": "int32"
          },
          "dayName": {
            "type": "string"
          },
          "seasonName": {
            "type": "string"
          },
          "stopTimes": {
            "uniqueItems": false,
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.StopTimeDto"
            }
          }
        }
      },
      "XtpApiDtos.TinyPassenger.StopTimeDto": {
        "type": "object",
        "properties": {
          "stopId": {
            "type": "integer",
            "format": "int32"
          },
          "routeNumber": {
            "type": "string"
          },
          "direction": {
            "type": "string"
          },
          "time": {
            "type": "string"
          }
        }
      },
      "XtpApiDtos.TinyPassenger.VehicleStatusDto": {
        "type": "object",
        "properties": {
          "busNumber": {
            "type": "integer",
            "format": "int32"
          },
          "state": {
            "type": "string",
            "enum": [
              "On",
              "Off",
              "Standby",
              "BetweenVoyages",
              "InVoyage",
              "Undefined",
              "Unknown"
            ]
          },
          "lastGpsTime": {
            "type": "string",
            "format": "date-time"
          },
          "lastReportTime": {
            "type": "string",
            "format": "date-time"
          },
          "lat": {
            "type": "number",
            "format": "double"
          },
          "lng": {
            "type": "number",
            "format": "double"
          },
          "routeNumber": {
            "type": "string"
          },
          "direction": {
            "type": "string"
          },
          "plateNumber": {
            "type": "string"
          },
          "timeStamp": {
            "type": "string",
            "format": "date-time"
          },
          "dataServico": {
            "type": "string",
            "format": "date-time"
          },
          "previousReportTime": {
            "type": "string",
            "format": "date-time"
          },
          "previousLatitude": {
            "type": "number",
            "format": "double"
          },
          "previousLongitude": {
            "type": "number",
            "format": "double"
          }
        }
      },
      "body": {
        "required": [
          "token",
          "type"
        ],
        "type": "object",
        "properties": {
          "token": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "Authorization": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}