{
  "openapi": "3.0.1",
  "info": {
    "title": "XTranPassengerAPI 2.11",
    "description": "Documentation of the XTranPassengerAPI 2.11 methods.",
    "version": "2.11"
  },
  "servers": [
    {
      "url": "https://gateway.carris.pt/gateway"
    }
  ],
  "paths": {
    "/api/v2.11/alerts": {
      "get": {
        "tags": [
          "Alerts"
        ],
        "summary": "Returns of alerts for the public.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.AlertDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.AlertDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.AlertDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.AlertDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.11/auth": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Allows authentication to use API, with a valid key, and return a token if given key is valid",
        "requestBody": {
          "description": "A mandatory valid key to get a Role for api requests",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/XTraNPassengerAPI.Auth.AuthTokenRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/XTraNPassengerAPI.Auth.AuthTokenRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/XTraNPassengerAPI.Auth.AuthTokenRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/XTraNPassengerAPI.Auth.AuthTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v2.11/auth/Validate/{token}": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Validates a token given on the authentication process",
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "description": "token to validate",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/html": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.11/busstops/routenumber/{routeNumber}/laststation/{lastStation}/startLat/{lat}/startLon/{lon}/numberbusstops/{nBusStops}": {
      "get": {
        "tags": [
          "BusStops"
        ],
        "summary": "Returns the list of stations for a specific route, given a specific number of parameters received from Google.",
        "parameters": [
          {
            "name": "routeNumber",
            "in": "path",
            "description": "The route public number. (Example: 12E)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lastStation",
            "in": "path",
            "description": "The headsign ('terminus') of a route (Example: Sta. Apolonia)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lat",
            "in": "path",
            "description": "The starting latitude coordinates to match to a bus stop (Example: 38.725311).",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lon",
            "in": "path",
            "description": "The starting longitude coordinates to match to a bus stop (Example: -9.151905).",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "nBusStops",
            "in": "path",
            "description": "Number of bus stops to return as list result (Example: 4).",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.11/busstops": {
      "get": {
        "tags": [
          "BusStops"
        ],
        "summary": "Returns a list of busstops",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.11/busstops/timestamp/{timestamp}": {
      "get": {
        "tags": [
          "BusStops"
        ],
        "summary": "Returns a list of busstops  with changes from the sent timestamp",
        "parameters": [
          {
            "name": "timestamp",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.11/busstops/rvd/{rvdId}": {
      "get": {
        "tags": [
          "BusStops"
        ],
        "summary": "Returns the list of stops that make up the trail of the sent ID",
        "parameters": [
          {
            "name": "rvdId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.11/busstops/near/lat/{lat}/lon/{lng}": {
      "get": {
        "tags": [
          "BusStops"
        ],
        "summary": "Get a list with the nearest bus stops from any given point. The distance is measured as meters.",
        "parameters": [
          {
            "name": "lat",
            "in": "path",
            "description": "The location latitude.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lng",
            "in": "path",
            "description": "The location longitude.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.NearbyBusStopDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.NearbyBusStopDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.NearbyBusStopDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.NearbyBusStopDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.11/Estimations": {
      "get": {
        "tags": [
          "Estimations"
        ],
        "summary": "Checking if there's a valid connection to the time estimator",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              },
              "text/html": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {
                  "type": "string"
                }
              },
              "text/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.11/Estimations/busStop/{busStop}/top/{results}": {
      "get": {
        "tags": [
          "Estimations"
        ],
        "summary": "Returns a list of estimations with maximum results for the next buses passing in the stop sent by parameter (public stop identifier).",
        "parameters": [
          {
            "name": "busStop",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "results",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TimeEstimator.EstimationDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TimeEstimator.EstimationDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TimeEstimator.EstimationDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TimeEstimator.EstimationDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.11/Estimations/estimationbusstop/{busStops}/top/{results}": {
      "get": {
        "tags": [
          "Estimations"
        ],
        "summary": "Returns a list of estimations for multiple stops in a single request. \r\nStops should be separated by the '-' character. The result returns data from the stops, each containing its list of estimates.",
        "parameters": [
          {
            "name": "busStops",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "results",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.EstimationBusStopDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.EstimationBusStopDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.EstimationBusStopDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.EstimationBusStopDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.11/Geocoding/{search}": {
      "get": {
        "tags": [
          "Geocoding"
        ],
        "summary": "Returns a list of possible points matching the given address",
        "parameters": [
          {
            "name": "search",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoResultDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoResultDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoResultDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoResultDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.11/Geocoding/reverse/lat/{lat}/lng/{lng}": {
      "get": {
        "tags": [
          "Geocoding"
        ],
        "summary": "Returns the address to the specified geographical point",
        "parameters": [
          {
            "name": "lat",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "lng",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoResultDto"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoResultDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoResultDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoResultDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.11/Geocoding/suggest/{query}": {
      "get": {
        "tags": [
          "Geocoding"
        ],
        "summary": "Autocomplete for user inputs, so that it can search for an address",
        "parameters": [
          {
            "name": "query",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoSuggestionDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoSuggestionDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoSuggestionDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoSuggestionDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.11/Geocoding/fromId/{locationId}": {
      "get": {
        "tags": [
          "Geocoding"
        ],
        "summary": "Retrieve the address data from a user search",
        "parameters": [
          {
            "name": "locationId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoResultDto"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoResultDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoResultDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.Geocoding.GeoResultDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.11/GTFS/realtime/vehiclepositions": {
      "get": {
        "tags": [
          "Gtfs"
        ],
        "summary": "Returns the vehicle positions of the current GTFS realtime feed.",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v2.11/GTFS": {
      "get": {
        "tags": [
          "Gtfs"
        ],
        "summary": "Returns the current GTFS feed.",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v2.11/GTFS/date/{date}": {
      "get": {
        "tags": [
          "Gtfs"
        ],
        "summary": "Returns a valid GTFS feed for a given date.",
        "parameters": [
          {
            "name": "requestedDate",
            "in": "query",
            "description": "A date in the YYYY-MM-DD format. Example: 2019-07-02",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "date",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v2.11/Planner/startlat/{startLat}/startlon/{startLon}/endLat/{endLat}/endLon/{endLon}/start/{startDate}/language/{language}": {
      "get": {
        "tags": [
          "Planner"
        ],
        "summary": "Planning a voyage from one point to another",
        "parameters": [
          {
            "name": "startLat",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "startLon",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "endLat",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "endLon",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "startDate",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "language",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.Google.SolutionDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.Google.SolutionDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.Google.SolutionDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.Google.SolutionDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.11/Routes/busStop/{busStopId}": {
      "get": {
        "tags": [
          "Routes"
        ],
        "summary": "Returns a list of routes that pass at a given busstop",
        "parameters": [
          {
            "name": "busStopId",
            "in": "path",
            "description": "The id of the busstop.",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.RouteDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.RouteDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.RouteDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.RouteDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.11/Routes": {
      "get": {
        "tags": [
          "Routes"
        ],
        "summary": "Returns the list of routes",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.RouteDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.RouteDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.RouteDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.RouteDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.11/Routes/timestamp/{timestamp}": {
      "get": {
        "tags": [
          "Routes"
        ],
        "summary": "Returns the list of routes with updates after the sent timestamp",
        "parameters": [
          {
            "name": "timestamp",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.RouteDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.RouteDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.RouteDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.RouteDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.11/Routes/{routeNumber}": {
      "get": {
        "tags": [
          "Routes"
        ],
        "summary": "Returns the route by its route number.",
        "parameters": [
          {
            "name": "routeNumber",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.FullRouteDto"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.FullRouteDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.FullRouteDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.FullRouteDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.11/Routes/{routeNumber}/from/{from}/until/{until}": {
      "get": {
        "tags": [
          "Routes"
        ],
        "summary": "Returns the route by its route number within a given period of time.",
        "parameters": [
          {
            "name": "routeNumber",
            "in": "path",
            "description": "The public number",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "path",
            "description": "Filter variants from a given time",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "until",
            "in": "path",
            "description": "Filter variants until a given time",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.FullRouteDto"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.FullRouteDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.FullRouteDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.FullRouteDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.11/SGO/busNumber/{busNumber}": {
      "get": {
        "tags": [
          "SGO"
        ],
        "summary": "Returns a list of vehicle statuses.",
        "parameters": [
          {
            "name": "busNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.SGOVehicleStatusDto"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.SGOVehicleStatusDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.SGOVehicleStatusDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.SGOVehicleStatusDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.11/StopTimes/routeNumber/{routeNumber}/direction/{direction}/stop/{stopId}/date/{date}": {
      "get": {
        "tags": [
          "StopTimes"
        ],
        "summary": "Returns the list of stop times for a specific busstop, given a route number and its direction, and a date.",
        "parameters": [
          {
            "name": "routeNumber",
            "in": "path",
            "description": "The route public number. (Example: 12E)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "direction",
            "in": "path",
            "description": "The route direction. (Example: CIRC)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "stopId",
            "in": "path",
            "description": "The busstop id (Example: 13802).",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "The date for the schedule in 'yyyy-mm-dd' format (Example: 2019-12-31)",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.ScheduleDto"
                }
              },
              "text/html": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.ScheduleDto"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.ScheduleDto"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.ScheduleDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.11/vehicleStatuses/routeNumber/{routeNumber}": {
      "get": {
        "tags": [
          "VehicleStatuses"
        ],
        "summary": "Returns the list of vehicle status for a single route.",
        "parameters": [
          {
            "name": "routeNumber",
            "in": "path",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.VehicleStatusDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.VehicleStatusDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.VehicleStatusDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.VehicleStatusDto"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2.11/vehicleStatuses": {
      "get": {
        "tags": [
          "VehicleStatuses"
        ],
        "summary": "Returns a list of vehicle statuses.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.VehicleStatusDto"
                  }
                }
              },
              "text/html": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.VehicleStatusDto"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.VehicleStatusDto"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.VehicleStatusDto"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "System.TimeSpan": {
        "type": "object",
        "properties": {
          "Ticks": {
            "type": "integer",
            "format": "int64"
          },
          "Days": {
            "type": "integer",
            "format": "int32"
          },
          "Hours": {
            "type": "integer",
            "format": "int32"
          },
          "Milliseconds": {
            "type": "integer",
            "format": "int32"
          },
          "Minutes": {
            "type": "integer",
            "format": "int32"
          },
          "Seconds": {
            "type": "integer",
            "format": "int32"
          },
          "TotalDays": {
            "type": "number",
            "format": "double",
            "readOnly": true
          },
          "TotalHours": {
            "type": "number",
            "format": "double",
            "readOnly": true
          },
          "TotalMilliseconds": {
            "type": "number",
            "format": "double",
            "readOnly": true
          },
          "TotalMinutes": {
            "type": "number",
            "format": "double",
            "readOnly": true
          },
          "TotalSeconds": {
            "type": "number",
            "format": "double",
            "readOnly": true
          }
        },
        "additionalProperties": false
      },
      "XtpApiDtos.Geocoding.GeoResultDto": {
        "type": "object",
        "properties": {
          "Lat": {
            "type": "number",
            "format": "double"
          },
          "Lng": {
            "type": "number",
            "format": "double"
          },
          "Address": {
            "type": "string",
            "nullable": true
          },
          "Header": {
            "type": "string",
            "nullable": true
          },
          "IsLocalMatch": {
            "type": "boolean"
          }
        },
        "additionalProperties": false
      },
      "XtpApiDtos.Geocoding.GeoSuggestionDto": {
        "type": "object",
        "properties": {
          "LocationId": {
            "type": "string",
            "nullable": true
          },
          "Address": {
            "type": "string",
            "nullable": true
          },
          "Header": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "XtpApiDtos.Google.BigStepDto": {
        "type": "object",
        "properties": {
          "FullInstructions": {
            "type": "string",
            "nullable": true
          },
          "HtmlInstructions": {
            "type": "string",
            "nullable": true
          },
          "Distance": {
            "type": "string",
            "nullable": true
          },
          "Duration": {
            "type": "string",
            "nullable": true
          },
          "ShortName": {
            "type": "string",
            "nullable": true
          },
          "FullName": {
            "type": "string",
            "nullable": true
          },
          "Points": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/XtpApiDtos.Google.LocationDto"
            }
          },
          "InnerSteps": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/XtpApiDtos.Google.InnerStepDto"
            }
          },
          "TravelMode": {
            "$ref": "#/components/schemas/XtpApiDtos.Google.TravelMode"
          },
          "Headsign": {
            "type": "string",
            "nullable": true
          },
          "NumberOfStops": {
            "type": "integer",
            "format": "int32"
          },
          "StartLocation": {
            "$ref": "#/components/schemas/XtpApiDtos.Google.LocationDto"
          }
        },
        "additionalProperties": false
      },
      "XtpApiDtos.Google.BoundsDto": {
        "type": "object",
        "properties": {
          "Location1": {
            "$ref": "#/components/schemas/XtpApiDtos.Google.LocationDto"
          },
          "Location2": {
            "$ref": "#/components/schemas/XtpApiDtos.Google.LocationDto"
          }
        },
        "additionalProperties": false
      },
      "XtpApiDtos.Google.InnerStepDto": {
        "type": "object",
        "properties": {
          "FullInstructions": {
            "type": "string",
            "nullable": true
          },
          "HtmlInstructions": {
            "type": "string",
            "nullable": true
          },
          "Distance": {
            "type": "string",
            "nullable": true
          },
          "Duration": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "XtpApiDtos.Google.LocationDto": {
        "type": "object",
        "properties": {
          "Lat": {
            "type": "number",
            "format": "double"
          },
          "Lng": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "XtpApiDtos.Google.SolutionDto": {
        "type": "object",
        "properties": {
          "Bounds": {
            "$ref": "#/components/schemas/XtpApiDtos.Google.BoundsDto"
          },
          "Leg": {
            "$ref": "#/components/schemas/XtpApiDtos.Google.SolutionLegDto"
          },
          "Fare": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "XtpApiDtos.Google.SolutionLegDto": {
        "type": "object",
        "properties": {
          "Distance": {
            "type": "string",
            "nullable": true
          },
          "Duration": {
            "type": "string",
            "nullable": true
          },
          "BigSteps": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/XtpApiDtos.Google.BigStepDto"
            }
          }
        },
        "additionalProperties": false
      },
      "XtpApiDtos.Google.TravelMode": {
        "type": "integer",
        "format": "int32",
        "enum": [
          0,
          1,
          2
        ]
      },
      "XtpApiDtos.TimeEstimator.EstimationDto": {
        "type": "object",
        "properties": {
          "RouteNumber": {
            "type": "string",
            "nullable": true
          },
          "RouteName": {
            "type": "string",
            "nullable": true
          },
          "Destination": {
            "type": "string",
            "nullable": true
          },
          "Time": {
            "type": "string",
            "format": "date-time"
          },
          "BusNumber": {
            "type": "string",
            "nullable": true
          },
          "PlateNumber": {
            "type": "string",
            "nullable": true
          },
          "VoyageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "PublicId": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "XtpApiDtos.TinyPassenger.AlertDto": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer",
            "format": "int32"
          },
          "AlertType": {
            "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.AlertType"
          },
          "AlertDescription": {
            "type": "string",
            "nullable": true
          },
          "PublishDate": {
            "type": "string",
            "format": "date-time"
          },
          "ExpirationDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "RouteNumber": {
            "type": "string",
            "nullable": true
          },
          "BusStopNumber": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "XtpApiDtos.TinyPassenger.AlertType": {
        "type": "integer",
        "format": "int32",
        "enum": [
          0,
          1
        ]
      },
      "XtpApiDtos.TinyPassenger.BusStopDto": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer",
            "format": "int32"
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "PublicId": {
            "type": "string",
            "nullable": true
          },
          "Lat": {
            "type": "number",
            "format": "double"
          },
          "Lng": {
            "type": "number",
            "format": "double"
          },
          "IsPublicVisible": {
            "type": "boolean"
          },
          "Timestamp": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "XtpApiDtos.TinyPassenger.ConnectionDto": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer",
            "format": "int32"
          },
          "Distance": {
            "type": "number",
            "format": "float"
          },
          "OrderNum": {
            "type": "integer",
            "format": "int32"
          },
          "BusStop": {
            "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.BusStopDto"
          }
        },
        "additionalProperties": false
      },
      "XtpApiDtos.TinyPassenger.EstimationBusStopDto": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer",
            "format": "int32"
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "PublicId": {
            "type": "string",
            "nullable": true
          },
          "Lat": {
            "type": "number",
            "format": "double"
          },
          "Lng": {
            "type": "number",
            "format": "double"
          },
          "IsPublicVisible": {
            "type": "boolean"
          },
          "Timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "EstimationList": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/XtpApiDtos.TimeEstimator.EstimationDto"
            }
          }
        },
        "additionalProperties": false
      },
      "XtpApiDtos.TinyPassenger.FullRouteDto": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer",
            "format": "int32"
          },
          "RouteNumber": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "IsPublicVisible": {
            "type": "boolean"
          },
          "Timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "IsCirc": {
            "type": "boolean"
          },
          "Variants": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.VariantDto"
            }
          }
        },
        "additionalProperties": false
      },
      "XtpApiDtos.TinyPassenger.ItineraryDto": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer",
            "format": "int32"
          },
          "Type": {
            "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.ItineraryType"
          },
          "Connections": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.ConnectionDto"
            }
          },
          "Shape": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "XtpApiDtos.TinyPassenger.ItineraryType": {
        "type": "integer",
        "format": "int32",
        "enum": [
          0,
          1,
          2
        ]
      },
      "XtpApiDtos.TinyPassenger.NearbyBusStopDto": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer",
            "format": "int32"
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "PublicId": {
            "type": "string",
            "nullable": true
          },
          "Lat": {
            "type": "number",
            "format": "double"
          },
          "Lng": {
            "type": "number",
            "format": "double"
          },
          "IsPublicVisible": {
            "type": "boolean"
          },
          "Timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "Distance": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "XtpApiDtos.TinyPassenger.RouteDto": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer",
            "format": "int32"
          },
          "RouteNumber": {
            "type": "string",
            "nullable": true
          },
          "Name": {
            "type": "string",
            "nullable": true
          },
          "IsPublicVisible": {
            "type": "boolean"
          },
          "Timestamp": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "XtpApiDtos.TinyPassenger.ScheduleDto": {
        "type": "object",
        "properties": {
          "DayId": {
            "type": "integer",
            "format": "int32"
          },
          "SeasonId": {
            "type": "integer",
            "format": "int32"
          },
          "DayName": {
            "type": "string",
            "nullable": true
          },
          "SeasonName": {
            "type": "string",
            "nullable": true
          },
          "StopTimes": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.StopTimeDto"
            }
          }
        },
        "additionalProperties": false
      },
      "XtpApiDtos.TinyPassenger.SGOVehicleStatusDto": {
        "type": "object",
        "properties": {
          "VehiclePlate": {
            "type": "string",
            "nullable": true
          },
          "RouteNumber": {
            "type": "string",
            "nullable": true
          },
          "PlateNumber": {
            "type": "string",
            "nullable": true
          },
          "Direction": {
            "type": "string",
            "nullable": true
          },
          "LastStopOnVoyageId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "LastStopOnVoyageName": {
            "type": "string",
            "nullable": true
          },
          "ParkingStopId": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "ParkingStopName": {
            "type": "string",
            "nullable": true
          },
          "DriverNumber": {
            "type": "string",
            "nullable": true
          },
          "Lat": {
            "type": "number",
            "format": "double"
          },
          "Lng": {
            "type": "number",
            "format": "double"
          }
        },
        "additionalProperties": false
      },
      "XtpApiDtos.TinyPassenger.StopTimeDto": {
        "type": "object",
        "properties": {
          "StopId": {
            "type": "integer",
            "format": "int32"
          },
          "RouteNumber": {
            "type": "string",
            "nullable": true
          },
          "Direction": {
            "type": "string",
            "nullable": true
          },
          "Time": {
            "$ref": "#/components/schemas/System.TimeSpan"
          }
        },
        "additionalProperties": false
      },
      "XtpApiDtos.TinyPassenger.VariantDto": {
        "type": "object",
        "properties": {
          "ID": {
            "type": "integer",
            "format": "int32"
          },
          "VariantNumber": {
            "type": "integer",
            "format": "int32"
          },
          "IsActive": {
            "type": "boolean"
          },
          "UpItinerary": {
            "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.ItineraryDto"
          },
          "DownItinerary": {
            "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.ItineraryDto"
          },
          "CircItinerary": {
            "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.ItineraryDto"
          }
        },
        "additionalProperties": false
      },
      "XtpApiDtos.TinyPassenger.VehicleState": {
        "type": "integer",
        "format": "int32",
        "enum": [
          0,
          1,
          2,
          3,
          4,
          5,
          6
        ]
      },
      "XtpApiDtos.TinyPassenger.VehicleStatusDto": {
        "type": "object",
        "properties": {
          "BusNumber": {
            "type": "integer",
            "format": "int32"
          },
          "State": {
            "$ref": "#/components/schemas/XtpApiDtos.TinyPassenger.VehicleState"
          },
          "LastGpsTime": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "LastReportTime": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "Lat": {
            "type": "number",
            "format": "double"
          },
          "Lng": {
            "type": "number",
            "format": "double"
          },
          "RouteNumber": {
            "type": "string",
            "nullable": true
          },
          "VariantNumber": {
            "type": "integer",
            "format": "int32"
          },
          "VoyageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "Direction": {
            "type": "string",
            "nullable": true
          },
          "PlateNumber": {
            "type": "string",
            "nullable": true
          },
          "TimeStamp": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "DataServico": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "PreviousReportTime": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "PreviousLatitude": {
            "type": "number",
            "format": "double",
            "nullable": true
          },
          "PreviousLongitude": {
            "type": "number",
            "format": "double",
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "XTraNPassengerAPI.Auth.AuthTokenRequest": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    }
  }
}